.containerTop {
    height: 60%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-primary);
}

.containerBottom {
    height: 40%;
    width: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
}

.title {
    margin: 5px 0 15px 0;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: var(--color-text-primary);
}

.subTitle {
    padding: 5px;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-text-secondary);
}

.inputData {
    margin: 0 auto;
    width: 100%;
    padding: 15px 10px;
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    background: var(--color-bg-clear);
    border-radius: 10px;
    border: 0;
}

.inputData::placeholder{
    color: var(--color-c2bdbd);
}

.flexRow {
    width: 100%;
    padding: 5px;
    overflow-x: auto;

    display: inline-flex;
    column-gap: 10px;
}

.gridColumn {
    width: 100%;
    min-height: 314px;
    padding: 5px;

    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr; /*Ao utilizar 1fr estou utilizando uma fração do que tem disponível*/
}

.titleMain {
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: var(--color-text-primary); 
}

.viewMain {
    height: 100%;
    display: block;
    padding: 15px;
    background-color: var(--color-white);
}